<nav>
    <div class="logo">
        <h4>Tennis Match Arranger</h4>
    </div>
    <ul class="nav-links" [ngClass]="{'nav-active': navActive}">
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/matches']">Matches</a>
        </li>
        <li>
            <a>Admin</a>
            <ul class="link-group">
                <li>
                    <a [routerLink]="['/admin/clubs']">Clubs</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/users']">People</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/roles']">Roles</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="burger" (click)="toggleMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
