<nav>
    <div class="logo">
        <h4>Tennis Match Arranger</h4>
    </div>
    <ul class="nav-links" [ngClass]="{'nav-active': navActive}">
        <li>
            <a [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="toggleMenu()">Home</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" (click)="toggleMenu()">Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/matches']" [routerLinkActive]="['active']" (click)="toggleMenu()">Matches</a>
        </li>
        <li>
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">Admin</a>
            <ul class="link-group">
                <li>
                    <a [routerLink]="['/admin/clubs']" [routerLinkActive]="['active']">Clubs</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/users']" [routerLinkActive]="['active']">People</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/roles']" [routerLinkActive]="['active']">Roles</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">Account</a>
            <ul class="link-group">
                <li>
                    <a [routerLink]="['/account']" [routerLinkActive]="['active']">Account</a>
                </li>
                <li>
                    <a [routerLink]="['/logout']" [routerLinkActive]="['active']">Log out</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="burger" (click)="toggleMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>