  .tennis-ball {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #cc0;
    background: radial-gradient(ellipse at center, #cc0 0%, darken(#cc0, 15) 100%);;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px 10px rgba(#000, .2);
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      border: solid .01rem #fff;
      border-radius: 50%;
      box-sizing: border-box;
    }
    
    &:before {
      right: 70%;
    }
    
    &:after {
      left: 70%;
    }

    &.spin {
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 

      @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    }
  }