<div class="modal-builder">
    <button class="primary" (click)="toggleShow()">{{ triggerButtonText }}</button>

    <app-modal [show]="show" header="{{header}}" *ngIf="show">
            <content-1>
                <div class="content">
                    <ng-content select="content"></ng-content>
                </div>
            </content-1>
            <content-2>
                    <div class="buttons">                            
                        <button (click)="cancel()" class="cancel">
                            {{ closeButtonText }}
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </button>
                        <button (click)="submit()" class="secondary" *ngIf="submitAction.observers.length">
                            {{ submitButtonText }}
                           <fa-icon [icon]="faCheck"></fa-icon>
                        </button>
                    </div>
            </content-2>
    </app-modal>
</div>