$color-primary: rgb(84,0,139);
$color-secondary: rgb(0,102,51);

$text-color-lightest-primary: rgb(240, 230, 247);
$text-color-lightest-secondary: rgb(229, 245, 237);;

$z-index-modal-overlay: 2;
$z-index-modal-content: 3;