<nav>
    <div class="logo">
        <div class="ball-container">
            <ball [spin]="false"></ball>
        </div>
        <h4>Tennis Arranger</h4>
    </div>
    <ul class="nav-links" [ngClass]="{'nav-active': navActive}">
        <li>
            <a [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="toggleMenu()"><fa-icon [icon]="faHome"></fa-icon> Home</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" (click)="toggleMenu()"><fa-icon [icon]="faChartPie"></fa-icon> Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/matches']" [routerLinkActive]="['active']" (click)="toggleMenu()"><fa-icon [icon]="faTableTennis"></fa-icon> Matches</a>
        </li>
        <li>
            <a [routerLink]="['/competitions']" [routerLinkActive]="['active']" (click)="toggleMenu()"><fa-icon [icon]="faTrophy"></fa-icon> Competitions</a>
        </li>
        <li>
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}" (click)="toggleAdmin()"><fa-icon [icon]="faCogs"></fa-icon> Admin</a>
            <ul class="link-group admin" [ngClass]="{'expanded': adminOpen}">
                <li>
                    <a [routerLink]="['/admin/clubs']" [routerLinkActive]="['active']" (click)="toggleMenu()">Clubs</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/users']" [routerLinkActive]="['active']" (click)="toggleMenu()">People</a>
                </li>
                <li>
                    <a [routerLink]="['/admin/roles']" [routerLinkActive]="['active']" (click)="toggleMenu()">Roles</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}" (click)="toggleAccount()"><fa-icon [icon]="faUserCircle"></fa-icon></a>
            <ul class="link-group account" [ngClass]="{'expanded': accountOpen}">
                <li>
                    <a [routerLink]="['/account']" [routerLinkActive]="['active']" (click)="toggleMenu()">Account</a>
                </li>
                <li>
                    <a [routerLink]="['/logout']" [routerLinkActive]="['active']" (click)="toggleMenu()">Log out</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="burger" [ngClass]="{'nav-active': navActive}" (click)="toggleMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>