/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

$color-primary: rgb(84,0,139);
$color-secondary: rgb(0,102,51);

$text-color-lightest-primary: rgb(240, 230, 247);
$text-color-lightest-secondary: rgb(229, 245, 237);;